---
import Header from "../layouts/Header.astro";
import "../styles/global.css";
const pageName = "About Us";
const pageDescription = "It's an about me but plural, what did you expect?";
const htmlName = "about";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta content={pageName} property="og:title" />
        <meta content={pageDescription} property="og:description" />
        <meta content={`https://thecatcollective.gitlab.io/pages/${htmlName}`} property="og:url" />
        <link rel="icon" type="image/svg+xml" href="/pages/favicon.svg" />
        <title>{pageName}</title>
        <Header />
    </head>

    <body>
        <h1>About The Collective</h1>
        <hr />
        <h2>Who are we?</h2>
        Alright, so we assume you've somehow ended up on this website and want to
        learn a bit more about us, so alright, here we go.
        <ul>
            <li>We are The Cat Collective aka TCC</li>
            <li>
                <a href="https://morethanone.info">plural/DID; hence the use of "we/us" in text and speech</a>
            </li>
            <li>Physically 20 years old</li>
            <li>
                University student(s) studying for their Bachelors Degree in Computer Science.
            </li>
            <li>
                Amateur mathematicians with an interest in Algebraic and Differential Geometry, Algebraic and Differential Topology, Abstract Algebra in general, Homotopy Theory, and Type Theory.
                <li>Uhhhhhh....chaos incarnate, maybe</li>
            </li>
        </ul>

        <h2>How to contact us</h2>
        <ul>
            <li>thecatcollective on Discord</li>
            <li>thecatcollective on libera.chat IRC</li>
            <li>
                <a href="https://void.rehab/@thecatcollective">Mastodon</a>
            </li>
            <li>(at) thecatcollective (colon) catgirl.cloud on Matrix</li>
            <li>calculuscat (at) proton (dot) me for email queries</li>
            <li>
                With some luck you'll encounter us in meatspace...just a *pinch*
                of luck
            </li>
        </ul>
    </body>

    <footer>
        <script>
            import "../scripts/menu.js";
        </script>
    </footer>
</html>
