---
import { getCollection } from "astro:content";
import Header from "../layouts/Header.astro";
import BlogPost from '../components/BlogPost.astro';
import "../styles/global.css";
const allPosts = await getCollection('posts');
const pageName = "Blog";
const pageDescription = "A nice lil' blog!";
const htmlName = "blog";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta content={pageName} property="og:title" />
        <meta content={pageDescription} property="og:description" />
        <meta content={`https://thecatcollective.gitlab.io/pages/${htmlName}`} property="og:url" />
        <link rel="icon" type="image/svg+xml" href="/pages/favicon.svg" />
        <title>{pageName}</title>
        <Header />
    </head>

    <body>
        <h1>The Cat Collective's Random Notes</h1>
        <hr />
        <ul>
            {
                allPosts.map((post) => (
                        <BlogPost url={`/pages/posts/${post.slug}/`} title={post.data.title} />
                ))
            }
        </ul>
    </body>

    <footer>
        <script>
            import "../scripts/menu.js";
        </script>
    </footer>
</html>
