---
import Header from "../layouts/Header.astro";
import "../styles/global.css";
const pageName = "Hardware and Software";
const pageDescription = "Our views on the hardware and software we have come across";
const htmlName = "hardware_and_software";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta content={pageName} property="og:title" />
        <meta content={pageDescription} property="og:description" />
        <meta content={`https://thecatcollective.gitlab.io/pages/${htmlName}`} property="og:url" />
        <link rel="icon" type="image/svg+xml" href="/pages/favicon.svg" />
        <title>{pageName}</title>
        <Header />
    </head>
    
    <body>
        <h1>The Cat Collective's Hardware and Software Choices</h1>
        <hr />
        <p>
            Well here's the list of software and hardware that we use on a daily
            basis. Recently we've attempted to reduce the amount of proprietary
            software we use in favour of open source alternatives, however it
            has been a slow ride so far.
        </p>

        <h2>Hardware</h2>
        <ul>
            <li>
                catbox: Our main laptop, named "catbox", is a Dell Inspiron 7620
                16plus with an Intel-i7 1260P CPU which is currently
                dual-booting Windows 11 and Fedora Linux 40 KDE Edition.
            </li>
            <li>
                meowpad: Our secondary laptop, named "meowpad" is a Lenovo
                Thinkpad X1 Yoga Gen6 with an Intel-i7 1165G7 CPU which is also
                currently dual-booting Windows 11 and Fedora Linux 40 KDE
                Edition.
            </li>
            <li>
                We also have a desktop computer but it's been out of commission
                for the last three years and probably won't see use for a long
                while.
            </li>
        </ul>

        <h2>Operating Systems</h2>
        <ul>
            <li>
                Fedora Linux: As previously stated, our laptops currently run Fedora Linux 40.
                We have been using Fedora Linux the past 6 months or so and have
                been using Linux in general since October 2022.
            </li>
            <li>
                Windows 11: Both of our laptops originally came with Windows 11, as there
                are times we have to (relatively begrudgingly) boot Windows, we
                have not deleted the Windows partitions on either machine.
            </li>
        </ul>

        <h2>System Core</h2>
        <ul>
            <li>
                KDE Plasma: Our current desktop environment, quite comfy but we
                might go back to GNOME just because we dislike the default setup
                of KDE's keyring with SSH Keys.
            </li>
            <li>
                GNOME: Alternate DE that we use quite frequently. As it's the
                flagship of Fedora Workstation, we tend to use it quite a bit as
                well.
            </li>
            <li>
                BSPWM: Our favourite tiling window manager, by far. It's just
                too dang comfy.
            </li>
            <li>
                GNU Coreutils: Well kinda got no choice on this one.

            </li>
            <li>
                BASH: It's the default shell. While others do exist, we see
                almost zero reason to use any of them.
            </li>
        </ul>

        <h2>Common Utility Programs</h2>
        <ul>
            <li>
                Firefox: It's our browser of choice and there haven't been any
                other browsers that have really caught our eye so far.
            </li>
            <li>
                VSCodium: Currently our editor of choice, though we are actively
                attempting to move away from it towards something like GNU
                Emacs.
            </li>
            <li>
                GNU Emacs: Probably our favourite text editor. It's decently
                fast and oh-so-featureful. Definitely not everyone's cup of tea,
                though.
            </li>
            <li>
                vi: We like vi over vim (at-least Astrid does to the point that
                she won't let anyone ever install vim or neovim on any of our machines),
                deal with it.
            </li>
            <li>
                ed: Same reason we like vi over vim, which is that we don't really know why.
            </li>
        </ul>

        <h2>Multimedia Software</h2>
        <p>
            I'd like to preface this by saying that we don't commonly use
            multimedia software beyond just listening to music.
        </p>
        <ul>
            <li>
                Spotify: Yes it's properietary, yes it's a data mine, but it
                plays our music and that's all we care about.
            </li>
            <li>
                VLC: We commonly use this to watch movies, very nice program.
            </li>
            <li>
                FFmpeg: Very nice utilities but we don't have much more to say
                than that.
            </li>
        </ul>

        <h2>Programming Languages</h2>
        <p>
            We don't use all of these on a daily basis, rather this is a list of
            languages we have used to some degree over the years. This is actually a section we've had massive amounts of headmate
            contention over but we'll try to stay impartial to ourselves here
            (but that's gonna fail super badly).
        </p>
        <ul>
            <li>
                ActionScript: We used it a few times in ninth grade (2018) and
                so we remember almost nothing about it.
            </li>
            <li>
                C: A very simple language with a couple of very annoying and
                subtle footguns. Very important, but not a language we use daily.
            </li>
            <li>
                C++: A much much much more complicated language with more
                footguns than anyone would truly like to admit. Still, a very
                very important language with a rich history. We use it
                occasionally. Oh also CMake sucks but we use it because it's
                standardized and has the best documentation.
            </li>
            <li>
                C#: Similar thoughts to Java but cleans up some of the big
                issues in the generics and type theory departments (reified
                types, nullable types, lifted operators, in/out params, ref
                params, etc...) and this just makes the language slightly less
                painful to deal with.
            </li>
            <li>
                CSS: We don't like it much but it gets the job done.
            </li>
            <li>
                Haskell: Definitely on the list but we have yet to tackle it (A
                monad on a category C is a monoid within the category of
                endomorphims of C, anyone?)
            </li>
            <li>
                HTML: This website's written in it + a templating language
                (Astro). We've come to generally like it over time.
            </li>
            <li>
                Java: It's "mid", as the hip kids these days would say. Really
                boring to write and feels a bit too verbose for our tastes.
            </li>
            <li>
                JavaScript: Probably the language we have the least experience
                in, but from first impressions, it is not NEARLY as bad as most
                people make it out to be. Attacking web developers as a whole
                for the mistakes and bad practices that a few people follow just
                because those examples have become infamous doesn't help anyone.
                JS usage should be slimmed down in some places, definitely, but
                attacking devs helps no-one.
            </li>
            <li>
                MATLAB: No.
            </li>
            <li>
                POSIX Shell: We're going to count it as a language, fight us.
                It's got quirky syntax but we kinda like it, to be honest.
            </li>
            <li>
                Python: Really boring to write and kinda slow on execution but
                it generally Just Works. Interpretter diagnostics aren't that
                great but packaging anything is an exercise in surviving the
                nine circles of hell. Kudos to anyone who can actually put up
                with its mess of a build system architecture.
            </li>
            <li>
                Rust: A language that, IMO, sits somewhere between C and C++ as
                far as complexity is concerned, but is very helpful with
                compiler diagnostics and a relatively nice community. There are
                aspects we dislike (package splitting is annoying, stdlib is a
                bit smaller than we'd like, etc...) but it's definitely a
                language we can stand more than C++.
            </li>
            <li>
                R: Bearable but barely.
            </li>
        </ul>
        <h2>Closing Arguments</h2>
        <p>
            Overall, we tend to prefer software that is simple and follows the
            UNIX philosphy and is FOSS or FLOSS, however we do recognize this
            isn't always possible so we will yield if we need to. We don't want
            to but we will if we need to. Personally, we don't understand the
            zealotry around FOSS/FLOSS/Libre, especially by people close to the
            FSF and the GNU Project. The world isn't and probably will never be
            perfect. We'd want a future filled with amazing free software as
            much as the next person but that's gonna take time and fighting over
            petty issues such as whether "Linux" is "GNU/Linux" and/or telling
            Windows or MacOS users to switch to Linux because of some small
            annoyance that might not even be the OS's fault is not going to fix
            much of anything around here.
        </p>
    </body>
</html>
