---
import Header from "../layouts/Header.astro";
import "../styles/global.css";
const pageName = "Headmates";
const pageDescription = "Info about headmates I guess";
const htmlName = "headmates";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta content={pageName} property="og:title" />
        <meta content={pageDescription} property="og:description" />
        <meta content={`https://thecatcollective.gitlab.io/pages/${htmlName}`} property="og:url" />
        <link rel="icon" type="image/svg+xml" href="/pages/favicon.svg" />
        <title>{pageName}</title>
        <Header />
    </head>

    <body>
        <h1>Headmates? What're those?</h1>
        <hr>
        Come back later :3
    </body>

    <footer><script>import "../scripts/menu.js";</script></footer>
</html>