---
import Header from "../layouts/Header.astro";
import "../styles/global.css";
const pageName = "The home page!";
const pageDescription = "Welcome to our website's homepage!";
const htmlName = "index";
---

<!-- 
	The Cat Collective's website

	SPDX-FileCopyrightText: 2024 The Cat Collective <calculuscat@proton.me>
	SPDX-License-Identifier: BSD-3-Clause

	This website was created by The Cat Collective.
		-->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta content={pageName} property="og:title" />
        <meta content={pageDescription} property="og:description" />
        <meta content={`https://thecatcollective.gitlab.io/pages/${htmlName}`} property="og:url" />
        <link rel="icon" type="image/svg+xml" href="/pages/favicon.svg" />
        <title>{pageName}</title>
        <Header />
    </head>
    
    <body>
        <h1>The Cat Collective's Laundry Basket</h1>
        <h2 style="font-size: 18px; text-align:center;">
            Wondering what cats dream of since 2004
        </h2>
        <hr />
        <h2>Miscellaneous Stuff</h2>
        <ul>
            <li>
                <a href="https://pronouns.cc/@the_cat_collective">Pronouns</a>
            </li>
            <li>
                <a href="https://open.spotify.com/playlist/41su2fzaPwjvAjxARJJRDK">Our music playlist (Spotify)</a>
            </li>
            <li>
                <a href="https://retrospring.net/thecatcollective">Retrospring</a>
            </li>
            <li>
                <a href="https://www.last.fm/user/cat_collective">last.fm</a>
            </li>
        </ul>
        <h2>Git and PGP</h2>
        <ul>
            <li>
                <a
                    href="https://keys.openpgp.org/search?q=calculuscat%40proton.me">PGP Key</a>
            </li>
            <li><a href="https://gitlab.com/thecatcollective">GitLab</a></li>
        </ul>
        <h2>In-site Links of interest</h2>
        <ul>
            <li><a href="/pages/about/">About Us and Contacts</a></li>
            <li><a href="/pages/headmates/">Info about Headmates</a></li>
            <li><a href="/pages/blog/">Blog</a></li>
            <li>
                <a href="/pages/hardware_and_software">Hardware and Software</a>
            </li>
            <li>Resume (TODO)</li>
        </ul>
        <h2>Plurality Resources</h2>
        <ul>
            <li>
                <a
                    href="https://dash.pluralkit.me/profile/s/rfkkh?tab=members&view=list">Pluralkit Dash (Learn about our headmtes)</a>
            </li>
            <li><a href="https://morethanone.info">More Than One</a></li>
        </ul>
        <hr />
    </body>

    <footer>
        <a href="https://citrons.xyz/a/memetic-apioform-page.html"><img src="/pages/buttons/apiopage.png" /></a>
        <br />
        All works on this website which are not external links are licensed under
        the <a href="https://opensource.org/license/bsd-3-clause/">BSD 3-Clause License</a>
        <script>
            import "../scripts/menu.js";
        </script>
    </footer>
</html>
