---
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <h1>{frontmatter.title}</h1>
    <p>Written on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>Description: {frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    
    <slot />

    <script>
        if (window.MathJax) {
            window.MathJax.typeset();
        }
    </script>
</body>
</html>
